form
{
	display:inline;
}

img
{
 float:none;
}

body
{
	background-color:black;
	color:white;
}

body.waiting * {
    cursor: progress;
}

#top
{
}

ul.dropdown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    background-color: black;
}

ul.dropdown li {
    float: left;
}

 li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #550000;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(255,0,0);
		z-index: 100;
}

.dropdown-content a, .dropdown-content span {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #550000}

.show {display:block;}