.cy-panzoom
{
  position: absolute;
  bottom: 255px;
  right: 60px;
}
a
{
  cursor: pointer;
  color: #ff2e88;
  text-decoration: none;
  border-bottom: 1px solid #ff2e88;
}

form
{
	display:inline;
}

img
{
 float:none;
}

body
{
	background-color:black;
	color:white;
}

body.waiting * {
    cursor: progress;
}

#top
{
}

.dropdown-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: black;
}

.dropdown-bar li {
    float: left;
}

li a
{
	border-bottom: none;
}

 .dropdown-menu {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: 5px 16px;
}

.dropdown-menu:hover, .dropdown-entry:hover, .dropdown-entry:focus {
    background-color: #550000;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(255,0,0);
		z-index: 100;
}

.dropdown-content.show {display:block;}

.dropdown-content > * {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

figure {
    border-style: groove none groove none;
    border-width: 1px;
    border-colour: white;
}
