.helpimage
{
  max-width:100vw;
  max-height:80vh;

}
body.grid .__________cytoscape_container
{
  background-image:
   url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAApCAYAAACoYAD2AAABhGlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AcxV9TxSItDnYQUchQnSyIijhqFYpQIdQKrTqYXPoFTRqSFBdHwbXg4Mdi1cHFWVcHV0EQ/ABxcnRSdJES/5cUWsR4cNyPd/ced+8AoVFhmtU1Dmi6baaTCTGbWxV7XhFCBGEMIyIzy5iTpBR8x9c9Any9i/Ms/3N/joiatxgQEIlnmWHaxBvE05u2wXmfOMpKskp8Tjxm0gWJH7muePzGueiywDOjZiY9TxwlFosdrHQwK5ka8RRxTNV0yheyHquctzhrlRpr3ZO/MJzXV5a5TnMISSxiCRJEKKihjApsxGnVSbGQpv2Ej3/Q9UvkUshVBiPHAqrQILt+8D/43a1VmJzwksIJoPvFcT5GgJ5doFl3nO9jx2meAMFn4Epv+6sNYOaT9Hpbix0BfdvAxXVbU/aAyx1g4MmQTdmVgjSFQgF4P6NvygH9t0Dvmtdbax+nD0CGukrdAAeHwGiRstd93h3q7O3fM63+fgAltnKI89jkWgAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB+QIDQwpAiBJZ4sAAABFSURBVFjD7dfBDQAgCARBtHI61yYgYjJbwGW+F1FcZp7qzR0fBAkJCQkJCQkJCQk5odXxScbniEFCQkJCQkJCQkJCPuwCY9AHy8qKGCgAAAAASUVORK5CYII=);
}

a
{
  cursor: pointer;
  color: #ff2e88;
  text-decoration: none;
  border-bottom: 1px solid #ff2e88;
}

form
{
  display:inline;
}

img
{
  float:none;
}

body
{
  background-color:black;
  color:white;
}

body.waiting * {
  cursor: progress;
}

#top
{
  margin-top: 5px;
  height: 20px;
}

#search-field {
  margin-top: 0;
}

.dropdown-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  background-color: black;
}

.dropdown-bar li {
  float: left;
}

li a
{
  border-bottom: none;
}

.dropdown-menu {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: white;
  padding: 5px 16px;
}

.dropdown-menu:hover, .dropdown-entry:hover, .dropdown-entry:focus {
  background-color: #550000;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(255,0,0);
  z-index: 100;
}

.dropdown-content.show {display:block;}

.dropdown-content > * {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-entry-checkboxtext
{
  display:inline-block;
  min-width:12em;
}

figure {
  border-style: groove none groove none;
  border-width: 1px;
  border-colour: white;
}

.__________cytoscape_container
{
  height: 100vh;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background-color: black;
}
