.tippy-box[data-theme~="reddark"] {
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 2px 2px 2px 2px rgb(255, 0, 0);
}
.tippy-box[data-theme~="reddark"] > .tippy-arrow {
	width: 14px;
	height: 14px;
}
.tippy-box[data-theme~="reddark"][data-placement^="top"] > .tippy-arrow:before {
	border-width: 7px 7px 0;
	border-top-color: rgba(0, 0, 0, 0.7);
}
.tippy-box[data-theme~="reddark"][data-placement^="bottom"] > .tippy-arrow:before {
	border-width: 0 7px 7px;
	border-bottom-color: rgba(0, 0, 0, 0.7);
}
.tippy-box[data-theme~="reddark"][data-placement^="left"] > .tippy-arrow:before {
	border-width: 7px 0 7px 7px;
	border-left-color: rgba(0, 0, 0, 0.7);
}
.tippy-box[data-theme~="reddark"][data-placement^="right"] > .tippy-arrow:before {
	border-width: 7px 7px 7px 0;
	border-right-color: rgba(0, 0, 0, 0.7);
}
.tippy-box[data-theme~="reddark"] > .tippy-backdrop {
	background-color: rgba(0, 0, 0, 0.7);
}
.tippy-box[data-theme~="reddark"] > .tippy-svg-arrow {
	fill: rgba(0, 0, 0, 0.7);
}
