{
  "presets":
  [[
    "env", {
      "targets": {
        "chrome": 52,
        "browsers": ["Firefox 49", "Edge 12","Chrome 53", "Opera 41", "Safari 10"]
      },
      "useBuiltIns": true
      }]]
}
