<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>SNIK Graph Manual</title>
<link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
</head>
<body>
#CONTENT#
</body>
</html>
